<body style="background-color:rgb(3, 16, 59) ;">
  <div class="aboutBody">
      <div class="about" >
        <div class="header">
          <br><br><br><br><br>
        <figure class="quote" aria-label="You expect this Lab to do one thing but it changed into something else. — IIT BOMBAY">
          <blockquote cite="" aria-hidden>
            <p class="colored-text">
              <span>but it changed into</span>
            </p>
        
            <div class="cut-text-container">
              <p class="cut-text">
                <span>"You expect this Lab</span>
                <span>something else"</span>
              </p>
            </div>
        
            <p class="colored-text second">
              <span>to do one thing</span>
            </p>
          </blockquote>
        
          <figcaption aria-hidden><cite>IIT BOMBAY</cite></figcaption>
        </figure>
      </div>
        
<!-- 
        {/* contents */} -->

        <div class="whytinker container" id="whytinker"  data-aos="fade-right">
          <div class="row">
            <div class="col-md-6 order-1 order-lg-1" data-aos="fade-right">
              <h3>Why Tinker ?</h3>
              <p>
                A Tinkerer is someone who also enjoys experimenting. We, at
                Tinkerers’ Laboratory are always open for such people with an
                aim to grow innovators and thinkers, converting their creative
                ideas into actual engineering products. For them to do whatever
                they love to do, let them have limitless hands-on experience and
                spend hours tinkering without any worries. So if you are turned
                on by machines and technology, Tinkerers’ Lab is the place to
                be.
              </p>
            </div>
            <div class="col-md-6 order-2 order-lg-2" data-aos="zoom-in">
              
                <!-- {" "} -->
                <img src="assets/Images/brain-1.png" class="img__about shadow-lg"   data-aos="fade-right" alt="" />
              
            </div>
          </div>
        </div>

        <!-- {/*  */} -->
        <div class="ourmission container mt-5" >
          <div class="row">
            <div class="col-md-6 order-2 order-lg-1" data-aos="zoom-in">
              
                <!-- {" "} -->
                <img src="assets/Images/robo-1.png" class="img__about shadow-lg " alt="" />
              
            </div>
            <div class="col-md-6 order-1 order-lg-2" data-aos="zoom-in" data-aos-duration='4000'>
              <h3 id="Mission">Our Mission </h3>
              <p>
                Increase student participation in Technical Activities, Improve
                quality of projects built and Expand the idea of TL to other
                engineering schools in Mumbai and later in other parts of
                country.
              </p>
            </div>
          </div>
        </div>

        <!-- {/*  */} -->
        <div class="ourvision container mt-5" id="vision">
          <div class="row">
            <div class="col-md-6 order-1 order-lg-1" data-aos="zoom-in"data-aos-duration='4000'>
              <h3>Our Vision </h3>
              <p>
                Tinkerers’ Lab aims to provide hands on experience to help
                students become innovators converting their creative ideas into
                actual engineering products and start a national trend towards
                “Making”
              </p>
            </div>
            <div class="col-md-6 order-2 order-lg-2" data-aos="zoom-in">
              
                <!-- {" "} -->
                <img src="assets/Images/vision.png" class="img__about shadow-lg" alt="" />
              
            </div>
          </div>
        </div>

        <!-- {/* pur team */} -->
        <div class="team my-5">
          
            <h3>Our Team</h3>
          

          <!-- {/* here we go again */} -->
          <div class="container">
            <div class="row">
              <div class="col-md-3 col-sm-6" data-aos="zoom-in">
                <div class="our-team">
                  <div class="pic">
                    <img class="img-team" src="assets/Images/robo-1.png" />
                    <ul class="social">
                      <li>
                        <a href="/#" class="fa fa-facebook"></a>
                      </li>
                      <li>
                        <a href="/#" class="fa fa-github"></a>
                      </li>
                      <li>
                        <a href="/#" class="fa fa-instagram"></a>
                      </li>
                      <li>
                        <a href="/#" class="fa fa-linkedin"></a>
                      </li>
                    </ul>
                  </div>
                  <div class="team-content">
                    <div class="team-info">
                      <h3 class="title">name</h3>
                      <span class="post">position</span>
                    </div>
                  </div>
                </div>
              </div>

              <!-- {/*  */} -->
              <div class="col-md-3 col-sm-6" data-aos="flip-right">
                <div class="our-team">
                  <div class="pic">
                    <img class="img-team" src="assets/Images/robo-1.png" />
                    <ul class="social">
                      <li>
                        <a href="/#" class="fa fa-facebook"></a>
                      </li>
                      <li>
                        <a href="/#" class="fa fa-github"></a>
                      </li>
                      <li>
                        <a href="/#" class="fa fa-instagram"></a>
                      </li>
                      <li>
                        <a href="/#" class="fa fa-linkedin"></a>
                      </li>
                    </ul>
                  </div>
                  <div class="team-content">
                    <div class="team-info">
                      <h3 class="title">name</h3>
                      <span class="post">position</span>
                    </div>
                  </div>
                </div>
              </div>

              <!-- {/*  */} -->
              <div class="col-md-3 col-sm-6" data-aos="zoom-in">
                <div class="our-team">
                  <div class="pic">
                    <img class="img-team" src="assets/Images/robo-1.png" />
                    <ul class="social">
                      <li>
                        <a href="/#" class="fa fa-facebook"></a>
                      </li>
                      <li>
                        <a href="/#" class="fa fa-github"></a>
                      </li>
                      <li>
                        <a href="/#" class="fa fa-instagram"></a>
                      </li>
                      <li>
                        <a href="/#" class="fa fa-linkedin"></a>
                      </li>
                    </ul>
                  </div>
                  <div class="team-content">
                    <div class="team-info">
                      <h3 class="title">name</h3>
                      <span class="post">position</span>
                    </div>
                  </div>
                </div>
              </div>
              <!-- {/* a */} -->
              <div class="col-md-3 col-sm-6" data-aos="zoom-in">
                <div class="our-team">
                  <div class="pic">
                    <img class="img-team" src="assets/Images/Carousel2.png" />
                    <ul class="social">
                      <li>
                        <a href="/#" class="fa fa-facebook"></a>
                      </li>
                      <li>
                        <a href="/#" class="fa fa-github"></a>
                      </li>
                      <li>
                        <a href="/#" class="fa fa-instagram"></a>
                      </li>
                      <li>
                        <a href="/#" class="fa fa-linkedin"></a>
                      </li>
                    </ul>
                  </div>
                  <div class="team-content">
                    <div class="team-info">
                      <h3 class="title">name</h3>
                      <span class="post">position</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>    
</body>      