<body ><br><br><br><br><br><br><br>
   <div class="contact-header">
   <div class="parallax">
          
             <div class="container" id="funFacts">
                <h1
                   class="display-3"
                   style=" text-align: center ; color: #fff "
                   data-aos="fade-up"
                   >
                   ContactUs
                </h1>
             </div>
          
       </div>
       <section id="contact">
      <div class="social">
      <a href="https://www.facebook.com/tinkererIITB/"><i class="fab fa-facebook-f"></i></a>
      <a href="https://www.instagram.com/tinkererslab.iitb/"><i class="fab fa-twitter"></i></a>
      <a href="https://www.instagram.com/tinkererslab.iitb/"><i class="fab fa-instagram"></i></a>
      <a href="tel:02225764381"><i class="fa fa-phone"></i></a>
         
      </div>
      <div class="contact-box">
      <div class="c-heading">
      <h1>Get In Touch</h1>
      <p>Call Or Email Us Regarding Question Or Issues</p>
      </div>
      <div class="c-inputs">
      <form action="mailto:tinkererslaboratory@gmail.com" method="GET">
      <input type="text" placeholder="Full Name"/>	
      <input type="email" placeholder="Example@gmail.com"/>
      <textarea name="message" placeholder="Write Message"></textarea>
      <button onclick="location.href='mailto:tinkererslaboratory@gmail.com';">SEND</button>
      </form>
      </div>
         
      </div>
      <div class="map">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3769.4039932541214!2d72.91458971490204!3d19.133785387054747!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7c7f5e4ac7efd%3A0xd9d02f29b4617fb4!2sTinkerers&#39;%20Laboratory!5e0!3m2!1sen!2sin!4v1634708177988!5m2!1sen!2sin"  width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>	
      </div>
      </section>
    </div>
    <br><br><br><br>
    <br><br><br><br>
    <br><br><br><br>
    <br><br><br><br>
    <br><br><br><br>
    <br><br><br><br>
   </body>