<html style="background-color: black;">

<body *ngFor="let item of lis  ">
  <div class="card" data-aos="fade-left">
    <div class="card__content">
      <div class="card__front">
        <h3 class="card__title"> {{item.name}}</h3>
        <p class="card__subtitle">Wise Words</p>
      </div> 

      <div class="card__back">
        <p class="card__body">{{item.desc}} <p>
            <p class="card__body" ><youtube-player videoId={{item.vidlink}} suggestedQuality="highres" [height]="50" [width]="50"
            [startSeconds]="0">
          </youtube-player><p>
      </div>
    </div>
   </div>
</body>
</html>