body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  
    background: white;
    background-image: linear-gradient(
      135deg,
      rgba(64, 219, 216, 0.15) 0%,
      rgba(3, 16, 59, 0.15) 35%
    );
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  /* body::-webkit-scrollbar-track
  {
    
    background-color: #F5F5F5;
    border-radius: 10px;
  }
  
  #style-15::-webkit-scrollbar
  {
    width: 10px;
    background-color: #F5F5F5;
  }
  
  #style-15::-webkit-scrollbar-thumb
  {
    border-radius: 10px;
    background-color: #FFF;
    background-image: -webkit-gradient(linear,
                       40% 0%,
                       75% 84%,
                       from(#4D9C41),
                       to(#19911D),
                       color-stop(.6,#54DE5D))
  } */
  
  
  html,
  html a,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  a,
  p,
  li,
  dl,
  th,
  dt,
  input,
  textarea,
  span,
  div {
    -webkit-font-smoothing: antialiased;
    text-shadow: rgb(0 0 0 / 0%) 1px 1px 1px;
  }
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
      monospace;
  }
  

  #scroll-bot {
    position: fixed;
    top: 0px;
    right: 0;
    z-index: 100001;
    height: 110%;
    width: 25px;
    display: none;
    background: #1a1b1d;
    border-left: 3px #fff solid;
    border-right: 4px #fff dashed;
  }
  
  #scroll-bot img {
    position: relative;
    width: 40px;  
    top: -50px;
    /* right: -20px; */
  }
  
  
  /* hiding the scrollbar except for webkit */
  
  html {
    scrollbar-width: none;
  }
  
  ::-webkit-scrollbar {
    width: 30px;
    background: transparent;
    /* overflow: overlay; */
  }
  
  ::-webkit-scrollbar-thumb {
    background-image: url("assets/Images/scroll-bot.png");
    background-position: center;
  background-position-x: 10px;
  min-height: 7vw;
    background-size: contain;
  background-repeat: no-repeat;
  }
  
  ::-webkit-scrollbar-track {
  background: #1a1b1d;
    border-left: 4px solid #fff;
    border-right: 6px dashed #fff;
    /*nothing else works - outline, svg as background image*/
  }
  
  @media screen and (max-width:768px) {
     ::-webkit-scrollbar {
        display: none;
    }
  }