<body>
  <!-- upper section -->
  <div class="home1" > 
    <section data-aos="fade-up">
      
      <div class="tilt-image" dlata-tit data-tilt-glare="true" data-tilt-scale="1.1">
<img src="assets\Images\TL2.png" class="navbar-logo" style="width: 325px; "/></div>

        

      <!-- {/* <div class="tag text-primary">
        If it can be imagined, it can be made.
      </div> */} -->

      <div id="start">
        <!-- <button data-aos="fade-up" id="st">
          Login With SSO
        </button> -->
        <a *ngIf="!logged_in" id="st" data-aos="fade-up" href={{loginUrl}} class="btn btn-primary px-4 py-2">Login with
          SSO</a>
        <a *ngIf="logged_in" id="st" data-aos="fade-up" href="" class="btn btn-primary px-4 py-2">Logged in as
          {{user_data.roll_number}}</a>
      </div>
    </section>
  </div>



  <!-- resources -->
  <div class="d-flex justify-content-center align-items-center">
    <section class="resources" style="text-align: center;" data-aos="fade-left">
      <div class="d-flex justify-content-center align-items-center">
        <h3 style="text-align:center;" data-aos="fade-up">Resources</h3>
      </div>

      <div class="container d-flex justify-content-center align-items-center">
        <div class="row">
          
          <div class="col-md-3">
            <div class="container1">
              <div class="overlay">
                <div class="items"></div>
                <div class="items head">
                  <p>Flower Embroidery Hoop Art</p>
                  <hr>
                </div>
                <div class="items price">
                  <p class="old">$699</p>
                  <p class="new">$345</p>
                </div>
                <div class="items cart">
                  <i class="fa fa-shopping-cart"></i>
                  <span>ADD TO CART</span>
                </div>
              </div>
            </div>

          </div>

          <div class="col-md-3 ">
            <div class="container1">
              <div class="overlay">
                <div class="items"></div>
                <div class="items head">
                  <p>Flower Embroidery Hoop Art</p>
                  <hr>
                </div>
                <div class="items price">
                  <p class="old">$699</p>
                  <p class="new">$345</p>
                </div>
                <div class="items cart">
                  <i class="fa fa-shopping-cart"></i>
                  <span>ADD TO CART</span>
                </div>
              </div>
            </div>

          </div>
          <div class="col-md-3">
            <div class="container1">
              <div class="overlay">
                <div class="items"></div>
                <div class="items head">
                  <p>Flower Embroidery Hoop Art</p>
                  <hr>
                </div>
                <div class="items price">
                  <p class="old">$699</p>
                  <p class="new">$345</p>
                </div>
                <div class="items cart">
                  <i class="fa fa-shopping-cart"></i>
                  <span>ADD TO CART</span>
                </div>
              </div>
            </div>

          </div>
          <div class="col-md-3">
            <div class="container1">
              <div class="overlay">
                <div class="items"></div>
                <div class="items head">
                  <p>Flower Embroidery Hoop Art</p>
                  <hr>
                </div>
                <div class="items price">
                  <p class="old">$699</p>
                  <p class="new">$345</p>
                </div>
                <div class="items cart">
                  <i class="fa fa-shopping-cart"></i>
                  <span>ADD TO CART</span>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
<br><br><br>
      <div class="container d-flex justify-content-center align-items-center">
        <div class="row">
          
          <div class="col-md-3">
            <div class="container1">
              <div class="overlay">
                <div class="items"></div>
                <div class="items head">
                  <p>Flower Embroidery Hoop Art</p>
                  <hr>
                </div>
                <div class="items price">
                  <p class="old">$699</p>
                  <p class="new">$345</p>
                </div>
                <div class="items cart">
                  <i class="fa fa-shopping-cart"></i>
                  <span>ADD TO CART</span>
                </div>
              </div>
            </div>

          </div>

          <div class="col-md-3 ">
            <div class="container1">
              <div class="overlay">
                <div class="items"></div>
                <div class="items head">
                  <p>Flower Embroidery Hoop Art</p>
                  <hr>
                </div>
                <div class="items price">
                  <p class="old">$699</p>
                  <p class="new">$345</p>
                </div>
                <div class="items cart">
                  <i class="fa fa-shopping-cart"></i>
                  <span>ADD TO CART</span>
                </div>
              </div>
            </div>

          </div>
          <div class="col-md-3">
            <div class="container1">
              <div class="overlay">
                <div class="items"></div>
                <div class="items head">
                  <p>Flower Embroidery Hoop Art</p>
                  <hr>
                </div>
                <div class="items price">
                  <p class="old">$699</p>
                  <p class="new">$345</p>
                </div>
                <div class="items cart">
                  <i class="fa fa-shopping-cart"></i>
                  <span>ADD TO CART</span>
                </div>
              </div>
            </div>

          </div>
          <div class="col-md-3">
            <div class="container1">
              <div class="overlay">
                <div class="items"></div>
                <div class="items head">
                  <p>Flower Embroidery Hoop Art</p>
                  <hr>
                </div>
                <div class="items price">
                  <p class="old">$699</p>
                  <p class="new">$345</p>
                </div>
                <div class="items cart">
                  <i class="fa fa-shopping-cart"></i>
                  <span>ADD TO CART</span>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>

      <!-- {/* adf */} -->
      <img src="assets/Images/net.png" class="Image__ImageWrapper-sc-1lwf601-0 liulOm patternImg" alt="patternImg" />
    </section>

  </div>
  <br><br><br><br>

  <div class="d-flex justify-content-center align-items-center">

    <div class="projects">
      <h3 class="my-4" style="text-align: center;">PROJECTS</h3>
       <!--Carousel Wrapper-->
    <div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">

      <!--Controls-->
      <!-- <div class="controls-top" style="align-items: center;">
        <a class="btn-floating" href="#multi-item-example" data-slide="prev"><i class="fa fa-chevron-left"></i></a>
        <a class="btn-floating" href="#multi-item-example" data-slide="next"><i class="fa fa-chevron-right"></i></a>
      </div> -->
      <!--/.Controls-->

      <!--Indicators-->
      <ol class="carousel-indicators justify-content-center">
        <li data-target="#multi-item-example" data-slide-to="0" class="active"></li>
        <li data-target="#multi-item-example" data-slide-to="1"></li>
        <li data-target="#multi-item-example" data-slide-to="2"></li>
      </ol>
      <!--/.Indicators-->

      <!--Slides-->
      <div class="carousel-inner align-items-center" role="listbox">

        <!--First slide-->
        <div class="carousel-item active ">

          <div class="row  justify-content-center">
            <div class="col-md-5 ">
              <div class="card mb-3 align-self-center">
                <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(34).jpg"
                  alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title">Card title</h4>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                  <a class="btn btn-primary">Button</a>
                </div>
              </div>
            </div>
          

            <div class="col-md-5 ">
              <div class="card mb-3 align-self-center">
                <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(18).jpg"
                  alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title">Card title</h4>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                  <a class="btn btn-primary">Button</a>
                </div>
              </div>
            </div>

            
          </div>

        </div>
        <!--/.First slide-->

        <!--Second slide-->
        <div class="carousel-item">

          <div class="row">
            <div class="col-md-5">
              <div class="card mb-3">
                <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(60).jpg"
                  alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title">Card title</h4>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                  <a class="btn btn-primary">Button</a>
                </div>
              </div>
            </div>

            <div class="col-md-5 clearfix d-none d-md-block">
              <div class="card mb-3">
                <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(47).jpg"
                  alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title">Card title</h4>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                  <a class="btn btn-primary">Button</a>
                </div>
              </div>
            </div>

            <!-- <div class="col-md-4 clearfix d-none d-md-block">
              <div class="card mb-2">
                <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(48).jpg"
                  alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title">Card title</h4>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                  <a class="btn btn-primary">Button</a>
                </div>
              </div>
            </div> -->
          </div>

        </div>
        <!--/.Second slide-->

        <!--Third slide-->
        <div class="carousel-item">

          <div class="row">
            <div class="col-md-5">
              <div class="card mb-3">
                <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Food/4-col/img%20(53).jpg"
                  alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title">Card title</h4>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                  <a class="btn btn-primary">Button</a>
                </div>
              </div>
            </div>

            <div class="col-md-5 clearfix d-none d-md-block">
              <div class="card mb-3">
                <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Food/4-col/img%20(45).jpg"
                  alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title">Card title</h4>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                  <a class="btn btn-primary">Button</a>
                </div>
              </div>
            </div>

            <!-- <div class="col-md-4 clearfix d-none d-md-block">
              <div class="card mb-2">
                <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Food/4-col/img%20(51).jpg"
                  alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title">Card title</h4>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                  <a class="btn btn-primary">Button</a>
                </div>
              </div>
            </div> -->
          </div>

        </div>
        <!--/.Third slide-->

      </div>
      <!--/.Slides-->

    </div>
    <!--/.Carousel Wrapper-->
</div>
    <br>

  </div>


  <p></p>
  <br><br><br>
  <!-- some fun facts start -->
  <div class="counter">
    <div class="parallax">
      <!-- <center> -->
      <div class="container" >
        <h1 class="display-3" style=" text-align: center; margin-top:auto;margin-bottom: auto; color: #fff; " data-aos="fade-up" >
          Some Fun Facts
        </h1>
        <div class="row p-4 m-4"></div>
        <div class="container">
          <div class="row" id="counter">
            <div class="col-md-1 col-3"></div>
            <div class="col-md-10 col-6">
              <div class="row">
                <div class="col-md-3" data-aos="fade-up">
                  <h3 class="counter-value" data-count="1500">
                    0
                  </h3>
                  <p>sq. ft. of space</p>
                </div>
  
                <div class="col-md-3" data-aos="fade-up">
                  <h3 class="counter-value" data-count="100">
                    0
                  </h3>
                  <p>Projects Made every year</p>
                </div>
                <div class="col-md-3" data-aos="fade-up">
                  <h3 class="counter-value" data-count="50000">
                    0
                  </h3>
                  <p>man-hours of work done</p>
                </div>
                <div class="col-md-3" data-aos="fade-up">
                  <h3 class="counter-value" data-count="1000">
                    0
                  </h3>
                  <p>Students work in this Lab yearly</p>
                </div>
              </div>
            </div>
            <div class="col-md-1 col-3"></div>
          </div>
        </div>
      </div>
      <!-- </center> -->
    </div>
  </div>
  <div class="d-flex justify-content-center align-items-center">
    <div class="testimonials">
      <img alt="dots" src="assets/Images/dots-group-v.png" class="dotV" />
      <img alt="dots" src="assets/Images/dots-group-sm.png" class="dotX" />

      <h3 class="my-4" style="text-align: center;">Testimonials</h3>
      <!-- <div class="container testimonials-container my-5">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="testimonial-card">

                <div class="card-body">
                  <div class="quote text-center">
                    <i class="fa fa-quote-right"></i>
                  </div>
                  Many of my finest memories as an engineer in the institute were made
                  here. Be it pulling out all-nighters for XLR8, RC Plane or designing
                  a life follower in my freshmen year, every experience is etched very
                  deep in my heart. It’s the closest to a place that allows you to
                  realize that Tinkerer’s image one has in his/her mind before setting
                  afoot at IIT Bombay. I have been privileged enough to get an
                  opportunity to serve as the secretary for Tinkerers’ Lab and I still
                  cherish the feeling of enabling others to realize the Tinkerer
                  within oneself. Tinkerer’s Lab has always played some part in every
                  project be it hobby or academic that I have done. It was always fun
                  to have a lab open 24 hours to work on your ideas and I would say
                  Tinkerers’ lab has played a key role in my journey to becoming an
                  engineer.
                </div>

                <div class="d-flex justify-content-center">
                  <img class="avatar  avatar-xl rounded-circle my-3" alt="Image placeholder" height="80"
                    src="http://lorempixel.com/g/600/420/" />

                </div>
                <div class=" font-weight-bolder my-2 text-muted text-center">Mookund </div>

              </div>
            </div>
            <div class="carousel-item">
              <div class="testimonial-card">

                <div class="card-body">
                  <div class="quote text-center">
                    <i class="fa fa-quote-right"></i>
                  </div>
                  Many of my finest memories as an engineer in the institute were made
                  here. Be it pulling out all-nighters for XLR8, RC Plane or designing
                  a life follower in my freshmen year, every experience is etched very
                  deep in my heart. It’s the closest to a place that allows you to
                  realize that Tinkerer’s image one has in his/her mind before setting
                  afoot at IIT Bombay. I have been privileged enough to get an
                  opportunity to serve as the secretary for Tinkerers’ Lab and I still
                  cherish the feeling of enabling others to realize the Tinkerer
                  within oneself. Tinkerer’s Lab has always played some part in every
                  project be it hobby or academic that I have done. It was always fun
                  to have a lab open 24 hours to work on your ideas and I would say
                  Tinkerers’ lab has played a key role in my journey to becoming an
                  engineer.
                </div>

                <div class="d-flex justify-content-center">
                  <img class="avatar  avatar-xl rounded-circle my-3" alt="Image placeholder" height="80"
                    src="http://lorempixel.com/g/600/420/" />

                </div>
                <div class=" font-weight-bolder my-2 text-muted text-center">Mookund </div>


              </div>
            </div>
            <div class="carousel-item">
              <div class="testimonial-card">

                <div class="card-body">
                  <div class="quote text-center">
                    <i class="fa fa-quote-right"></i>
                  </div>
                  Many of my finest memories as an engineer in the institute were made
                  here. Be it pulling out all-nighters for XLR8, RC Plane or designing
                  a life follower in my freshmen year, every experience is etched very
                  deep in my heart. It’s the closest to a place that allows you to
                  realize that Tinkerer’s image one has in his/her mind before setting
                  afoot at IIT Bombay. I have been privileged enough to get an
                  opportunity to serve as the secretary for Tinkerers’ Lab and I still
                  cherish the feeling of enabling others to realize the Tinkerer
                  within oneself. Tinkerer’s Lab has always played some part in every
                  project be it hobby or academic that I have done. It was always fun
                  to have a lab open 24 hours to work on your ideas and I would say
                  Tinkerers’ lab has played a key role in my journey to becoming an
                  engineer.
                </div>
                <div class="d-flex justify-content-center">
                  <img class="avatar  avatar-xl rounded-circle my-3" alt="Image placeholder" height="80"
                    src="http://lorempixel.com/g/600/420/" />

                </div>
                <div class=" font-weight-bolder my-2 text-muted text-center">Mookund </div>


              </div>
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div> -->

      <div class="container">
        <div id="demo" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="carousel-caption">
                        <p>If Shai Reznik's TDD videos don't convince you to add automated testing your code, I don't know what will.This was the very best explanation of frameworks for brginners that I've ever seen. </p> <img src="https://i.imgur.com/lE89Aey.jpg">
                        <div id="image-caption">Nick Doe</div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="carousel-caption">
                        <p>If Shai Reznik's TDD videos don't convince you to add automated testing your code, I don't know what will.This was the very best explanation of frameworks for brginners that I've ever seen.</p> <img src="https://i.imgur.com/QptVdsp.jpg" class="img-fluid">
                        <div id="image-caption">Cromption Greves</div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="carousel-caption">
                        <p>If Shai Reznik's TDD videos don't convince you to add automated testing your code, I don't know what will.This was the very best explanation of frameworks for brginners that I've ever seen.</p> <img src="https://i.imgur.com/jQWThIn.jpg" class="img-fluid">
                        <div id="image-caption">Harry Mon</div>
                    </div>
                </div>
            </div> <a class="carousel-control-prev" href="#demo" data-slide="prev"> <i class='fas fa-arrow-left'></i> </a> <a class="carousel-control-next" href="#demo" data-slide="next"> <i class='fas fa-arrow-right'></i> </a>
        </div>
    </div>

    </div>

  </div>
  <br><br><br>
  <!-- Footer -->


</body>